Client/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyCompany.com/Department" elementFormDefault="qualified" targetNamespace="http://MyCompany.com/Department" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ID" type="xs:int" />
  <xs:element name="Name" nillable="true" type="xs:string" />
  <xs:element name="Gender" nillable="true" type="xs:string" />
  <xs:element name="DOB" type="xs:dateTime" />
  <xs:element name="Vacation" type="xs:int" />
  <xs:element name="sickLeave" type="xs:int" />
  <xs:element name="jobTitle" nillable="true" type="xs:string" />
</xs:schema>